
html {
    box-sizing: border-box;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Impact";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-weight: normal;
    color: #070707;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* header style start */

header {
    top: 0;
    width: 100%;
    padding-top: 20px;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #828282;
}

.menu {
    padding-top: 25px;
    padding-bottom: 23px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_link {
    line-height: 23px;
    color: #828282;
    text-decoration: none;
}


.menu_link_proj {
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}

button {
    margin-top: -12px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #FEE169;
    cursor: pointer;
    font-family: "Impact";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #070707;
    
}

.menu a:hover, .menu a:focus, .menu a:active {
    color: #070707;
    transform: scale(1.2);
}

/* header style end */

/* inro style start */

.info {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    width: 800px;
    font-size: 32px;
    line-height: 30px;
    padding-bottom: 30px;
}

.micro-info {
    margin-left: 515px;
    text-align: end;
    width: auto;
    font-size: 20px;
    line-height: 20px;
}

.max-info {
    text-align: center;
    width: auto;
    font-size: 20px;
    line-height: 20px;
}

.photo_1 {
    width: 100%;
    height: 390px;
    padding-top: 45px;
}

.photo {
    padding-bottom: 70px;
}
/* inro style end */

/* media style start */

@media screen and (max-width: 900px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .photo_1 {
        height: 270px;
    }
    .micro-info {
        margin-left: 365px;
    }
}

@media screen and (max-width: 650px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .photo_1 {
        height: 270px;
    }
    .micro-info {
        margin-left: 155px;
    }
    .name {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .info {
        padding-top: 20px;
    }
}

@media screen and (max-width: 520px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .photo_1 {
        height: 200px;
    }
    .menu {
        font-size: 16px;
    }
    .menu_link_proj{
        font-size: 16px;
    }
    .name {
        font-size: 23px;
    }
    .micro-info {
        font-size: 18px;
    }
    .max-info {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        font-size: 14px;
    }
    .menu_link_proj{
        font-size: 14px;
    }
    button{
        padding: 12px 6px;
    }
    .photo_1 {
        height: 160px;
    }
    .name {
        font-size: 20px;
    }
    .micro-info {
        font-size: 16px;
        margin-left: 55px;
    }
    .max-info {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .menu {
        font-size: 13px;
    }
    .menu_link_proj{
        font-size: 13px;
    }
    button{
        padding: 10px 3px;
    }
    .photo_1 {
        height: 160px;
    }
    .name {
        font-size: 19px;
    }
    .micro-info {
        font-size: 15px;
        margin-left: 20px;
    }
    .max-info {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .menu {
        font-size: 13px;
    }
    .menu_link_proj{
        font-size: 13px;
    }
    button{
        padding: 10px 3px;
    }
    .photo_1 {
        height: 160px;
    }
    .name {
        font-size: 18px;
    }
    .micro-info {
        font-size: 15px;
        margin-left: 20px;
    }
    .max-info {
        font-size: 15px;
    }
    .button_clss_1 {
    margin-top: -40px;
    font-size: 20px;
    padding: 25px 20px;
    }
}

/* media style end */